/*
*
* --- file style.scss
*   import all files
*
*
*/
/*framework Bourbon
-----------------------------------------------------*/
/* mixins
-----------------------------------------------------*/
/* responsive 
-----------------------------------------------------*/
/* settings
-----------------------------------------------------*/
/* markup
-----------------------------------------------------*/
/*
*
* --- file style.scss
*   import all files
*
*
*/
.content {
  @imclude size(925px auto); }

header {
  height: 60px;
  width: 100%; }

.follow {
  height: 675px;
  width: 100%; }

.story {
  height: 455px;
  width: 100%; }

.video {
  height: 300px;
  width: 100%; }

.calendar {
  height: 1695px;
  width: 100%; }

/* style page
-----------------------------------------------------*/
/*
*
* --- file style.scss
*   import all files
*
*
*/
/* Same properties
-----------------------*/
.content {
  margin: 0 auto; }

/* Style page
------------------*/
body {
  background-color: #546a83; }

header .content {
  background-color: #ffffff; }
