/*
*
* --- file style.scss
*   import all files
*
*
*/

.content{
	@imclude size(925px auto);
}
header{
	@include size(100% 60px);
}
.follow{
	@include size(100% 675px);
}
.story{
	@include size(100% 455px);
}
.video{
	@include size(100% 300px);
}
.calendar{
	@include size(100% 1695px);
}