/*
*
* --- file style.scss
*   import all files
*
*
*/

/* Same properties
-----------------------*/

.content{
	margin: 0 auto;
}

/* Style page
------------------*/
body{
	background-color: #546a83;
}
header{
	.content{
		background-color: #ffffff;
	}
}